/*Common Global css start*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #969595;
	font-weight: 400;
}


/* --------------------------------------
TYPOGRAPHY
------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	color: #313131;
	font-weight: 400;
}

h1 {
	font-size: 30px;
	line-height: 24px;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}

h6 {
	font-size: 14px;
	line-height: 24px;
}



/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
	color: #31aae2;
    text-decoration : none;
    -webkit-transition      : all 0.3s ease 0s;
    -moz-transition      : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition      : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}

a:hover,
a:focus {
    text-decoration: none;
}

.gray-bg {
	background-color: #f9f9f9;
}



/*Global Classes*/
.padding-top-bottom-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*LIST STYLE*/

/*To make different list style you should add any of given class below  to ul tag.*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*Common Global css end*/




/* --------------------------------------------------
portfolio-twenty start
------------------------------------------------- */



/* --------------------------------------------------
ps-portfolio-four start
-------------------------------------------------- */

.ps-portfolio-four .portfolio-thumb{
	position: relative;
	/*height: 308px!important;*/
}
.ps-portfolio-four .portfolio-thumb img{
	width: 100%;
	position: relative;
	max-height: 357.66px;
	min-height: 357.66px;
	/*height: -webkit-calc(100% + 40px);*/
	/*height: calc(100% + 40px);*/

	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
/*.ps-portfolio-four .portfolio-thumb:hover img{*/
	/*-webkit-transform: translate3d(0, -30px, 0);*/
	/*transform: translate3d(0, -30px, 0);*/
/*}*/
.ps-portfolio-four .portfolio-content{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	z-index: 0;

	-webkit-transform: scale(0);
	transform: scale(0);
}
.ps-portfolio-four .portfolio-thumb:hover .portfolio-content{
	background: rgba(52, 51, 51, 0.8);

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition-property: transform;
	transition-property: transform;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.ps-portfolio-four .portfolio-content::before{
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;

	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;

	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
}
.ps-portfolio-four .portfolio-content::before,
.ps-portfolio-four .portfolio-content::after{
	content: "";
	position: absolute;
	opacity: 0;
}
.ps-portfolio-four .portfolio-thumb:hover .portfolio-content::before,
.ps-portfolio-four .portfolio-thumb:hover .portfolio-content::after{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.ps-portfolio-four .portfolio-content::after{
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;

	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;

	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
}

.ps-portfolio-four .portfolio-info{
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 60%;
	margin-top: -25px;
	opacity: 0;
	visibility: hidden;
}
.ps-portfolio-four .portfolio-thumb:hover .portfolio-info{
	opacity: 1;
	visibility: visible;
}
.ps-portfolio-four .portfolio-info h3{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	color: #ffffff;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
}
.ps-portfolio-four .portfolio-thumb:hover .portfolio-info h3{
	transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
}
.ps-portfolio-four .portfolio-info h3,
.ps-portfolio-four .portfolio-info .small{
	opacity: 0;
	transform: translateY(200px);
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	-o-transform: translateY(200px);
}
.ps-portfolio-four .portfolio-thumb:hover .portfolio-info h3,
.ps-portfolio-four .portfolio-thumb:hover .portfolio-info .small{
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
}
.ps-portfolio-four .portfolio-info .small{
	font-size: 13px;
	display: block;
	color: #ffffff;
}
.ps-portfolio-four .portfolio-thumb:hover .portfolio-info .small{
	transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
}
.ps-portfolio-four .pop-up-icon{
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -38px;
	z-index: 1;
}
/*.ps-portfolio-four .pop-up-icon .img-link i,*/
/*.ps-portfolio-four .pop-up-icon .content-link i{*/
	/*opacity: 0;*/

	/*transform: translateY(-300px);*/
	/*-webkit-transform: translateY(-300px);*/
	/*-moz-transform: translateY(-300px);*/
	/*-o-transform: translateY(-300px);*/
/*}*/
.ps-portfolio-four .portfolio-thumb:hover .img-link i,
.ps-portfolio-four .portfolio-thumb:hover .content-link i{
	opacity: 1;

	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);

	transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;

}
/*.ps-portfolio-four .pop-up-icon a{*/
	/*margin-right: 2px;*/
/*}*/
/*.ps-portfolio-four .pop-up-icon a:nth-child:last-child{*/
	/*margin-right: 0;*/
/*}*/
.ps-portfolio-four .pop-up-icon i{
	font-size: 13px;
	color: #313131;
	background: #ffffff;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border-radius: 50%;
	text-align: center;
}
/*.ps-portfolio-four .pop-up-icon i:hover{*/
	/*color: #ffffff;*/
	/*background: #31aae2;*/
/*}*/
.ps-portfolio-four .portfolio-info .small,
.ps-portfolio-four .portfolio-info h3,
.ps-portfolio-four .pop-up-icon .img-link i,
.ps-portfolio-four .pop-up-icon .content-link i{
	transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.styles a{
	color: #ffffff;

}

.nounderline li a{
	box-shadow: none;

}
.nospace{
	padding: 0;
	margin: 0;
}
.img-link a{
	max-height: 626px;
	min-height: 417px;
}
/* --------------------------------------------------
ps-portfolio-four end
-------------------------------------------------- */










