/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/**Reset**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** Reset end**/
/*styling starts*/
#single-main .single-project-area {
    background-color: #fff;
}

#single-main .section-padding {
    padding: 80px 0;
}

#single-main .project-content {
    margin: 30px 0;
}
#single-main .project-details {
    margin: 40px 0 30px;
}
#single-main .about-project h4, .project-details h4, .project-content h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 30px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 3px double #ddd;
}

#single-main h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
#single-main h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
}
#single-main .project-details ul li {
    font-size: 14px;
    padding-bottom: 20px;
}
#single-main .project-details ul li i {
    box-shadow: 0 0 0 8px #ffffff inset, 0 0 5px 0 rgba(51, 214, 133, 0.24);
    color: #33d685;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.6s ease 0s;
    width: 50px;
    margin-right: 20px;
}
#single-main .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
#single-main {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #999;
    background-color: #fff;
    padding: 30px;
}
#single-main  .btn-sm-one {
    background-color: #33d685;
    border: 1px solid #33d685;
    color: #fff;
    font-weight: 700;
    padding: 12px 30px;
    letter-spacing: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

#single-main .btn {
    border-radius: 0px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}
#single-main .btn-sm-one:active, .btn-sm-one:focus, .btn-sm-one:hover {
    background-color: transparent;
    border-color: #33d685;
    color: #0c3419;
}
#single-main .btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.2s ,
    padding 0.8s linear;
    transition-timing-function: ease-out;
}
.single-project-area .project-details .img-logo img{
    height:200px;
    width:150px;
    margin-left: 90px;
}
.single-project-area .single-project-image .project-img {
    padding-top: 38px;
    max-width: 700px;
    min-width: 700px;
    max-height: 550px;
    min-height: 550px;
}