
.ps-style-select input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.hidden-radio{
    visibility: hidden;

}
.style1-image{background-image:url(../img/style1.jpg); height:80px;}
/*.style2-image{background-image:url(../img/style2.jpg);}*/
.style3-image{background-image:url(../img/style3.jpg);height:80px;}
/*.style4-image{background-image:url(../img/style4.jpg);}*/
.style5-image{background-image:url(../img/style5.jpg);height:80px;}
.style6-image{background-image:url(../img/style6.jpg);height:80px;}
.style7-image{background-image:url(../img/style7.jpg);height:300px;}
/*.style8-image{background-image:url(../img/style8.jpg);margin: 25px}*/
/*.style9-image{background-image:url(../img/style9.jpg);}*/
.style10-image{background-image:url(../img/style10.jpg);height:80px;}
/*.style11-image{background-image:url(../img/style11.jpg);}*/
.style12-image{background-image:url(../img/style12.jpg);height:80px;}
.style13-image{background-image:url(../img/style13.jpg);height:80px;}
.style14-image{background-image:url(../img/style14.jpg);height:80px;}
/*.style15-image{background-image:url(../img/style15.jpg);margin: 25px}*/
.style16-image{background-image:url(../img/style16.jpg);height:80px;}
/*.style17-image{background-image:url(../img/style17.jpg);}*/
/*.style18-image{background-image:url(../img/style18.jpg);}*/
.style19-image{background-image:url(../img/style19.jpg);height:300px;}
.style20-image{background-image:url(../img/style20.png);height:80px;}



.ps-style-select input:active +.ps-style{opacity: .1;}
.ps-style-select input:checked +.ps-style{

    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);


}

.ps-style{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:250px;

    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;

    -webkit-filter: none;
    -moz-filter: none;
    filter: none;



}
.ps-style:hover{
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);

}

/*!* Extras *!*/
/*a:visited{color:#888}*/
/*a{color:#444;text-decoration:none;}*/
/*p{margin-bottom:.3em;}*/