.row {
  margin: 0;
  padding:0;
  }
  
 .row i {
    cursor: pointer;
     padding: 12px;
	position: relative;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
     font-size: 25px;
 }
ul li{
    float: left;
    list-style: none;
    font-size: 25px;

}
.fa{
    height: 50px;
    width: 50px;
}
.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}
.fa-facebook{
    color: #1565C0;
    border: 2px solid #1565C0;
}
.fa-facebook:hover{
    border-radius: 50%;
    color: white;
    background-color: #1565C0;

}
.fa-twitter{
    color: #00aced;
    border: 2px solid #00aced;
}
.fa-twitter:hover{
    border-radius: 50%;
    color: white;
    background-color: #00aced;

}
.fa-google{
    color: #d34836;
    border: 2px solid #d34836;
}
.fa-google:hover{
    border-radius: 50%;
    color: white;
    background-color: #d34836;

}
.fa-linkedin{
    color: #0e76a8;
    border: 2px solid #0e76a8;
}
.fa-linkedin:hover{
    border-radius: 50%;
    color: white;
    background-color: #0e76a8;

}
.fa-reddit-alien{
    color: #ff4500;
    border: 2px solid #ff4500;
}
.fa-reddit-alien:hover{
    border-radius: 50%;
    color: white;
    background-color: #ff4500;

}
.fa-youtube-play{
    color: #bb0000;
    border: 2px solid #bb0000;
}
.fa-youtube-play:hover{
    border-radius: 50%;
    color: white;
    background-color: #bb0000;

}
.fa-pinterest{
    color: #cb2027;
    border: 2px solid #cb2027;
}
.fa-pinterest:hover{
    border-radius: 50%;
    color: white;
    background-color: #cb2027;

}
.fa-instagram{
    color: #125688;
    border: 2px solid #125688;
}
.fa-instagram:hover{
    border-radius: 50%;
    color: white;
    background-color: #125688;

}
.fa-tumblr{
    color: #32506d;
    border: 2px solid #32506d;
}
.fa-tumblr:hover{
    border-radius: 50%;
    color: white;
    background-color: #32506d;

}
