/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1.3;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*icon style*/
.ps-social-btns .btn, .ps-social-btns .btn:before, .ps-social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.ps-social-btns .btn:before {
    top: 90%;
    left: -110%;
}

.ps-social-btns .btn .fa {
    transform: scale(0.8);
}

.ps-social-btns .btn.facebook:before {
    background-color: #1565C0;
}

.ps-social-btns .btn.facebook .fa {
    color: #1565C0;
}

.ps-social-btns .btn.twitter:before {
    background-color: #00aced;
}

.ps-social-btns .btn.twitter .fa {
    color: #00aced;
}
.ps-social-btns .btn.linkedin:before {
    background-color: #0e76a8;
}

.ps-social-btns .btn.linkedin .fa {
    color: #0e76a8;
}

.ps-social-btns .btn.google:before {
    background-color: #d34836;
}

.ps-social-btns .btn.google .fa {
    color: #d34836;
}

.ps-social-btns .btn.reddit .fa {
    color: #ff4500;
}
.ps-social-btns .btn.reddit:before {
    background-color: #ff4500;
}

.ps-social-btns .btn.youtube .fa {
    color: #bb0000;
}
.ps-social-btns .btn.youtube:before {
    background-color: #bb0000;
}
.ps-social-btns .btn.pinterest.fa {
    color: #cb2027;
}
.ps-social-btns .btn.pinterest:before {
    background-color: #cb2027;
}
.ps-social-btns .btn.instagram .fa {
    color: #125688;
}
.ps-social-btns .btn.instagram:before {
    background-color: #125688;
}
.ps-social-btns .btn.tumbler .fa {
    color: #32506d;
}
.ps-social-btns .btn.tumbler:before {
    background-color: #32506d;
}

.ps-social-btns .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social-btns .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}

.ps-social-btns .btn:focus:before, .ps-social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}


.ps-social-btns .btn:focus .fa, .ps-social-btns .btn:hover .fa {
    color: #fff;
    transform: scale(1);
}

.ps-social-btns {
    font-size: 0;
    margin-right: 5px;
}

.ps-social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 50px;
    height: 50px;
    /*line-height: 90px;*/
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
}

.ps-social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}

.ps-social-btns .btn .fa {
    font-size: 30px;
    padding-right: 3px;

}
