.row{
    margin-left: 0;
}

 .row i {
    cursor: pointer;
	position: relative;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
 }
 ul li{
     list-style: none;
     font-size: 20px;
 }
.fa{
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 8px;
}
.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}
.fa-facebook{
    color: #1565C0;
    border: 2px solid #1565C0;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-facebook:hover{
    background: #1565C0;
    color: white;
    top: -2px;
}

.fa-twitter{
    color: #00aced;
    border: 2px solid #00aced;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-twitter:hover{
    background: #00aced;
    color: white;
    top: -2px;
}

.fa-linkedin{
    color: #0e76a8;
    border: 2px solid #0e76a8;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-linkedin:hover{
    background: #0e76a8;
    color: white;
    top: -2px;
}

.fa-google{
    color: #d34836;
    border: 2px solid #d34836;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-google:hover{
    background: #d34836;
    color: white;
    top: -2px;
}

.fa-reddit-alien{
    color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-reddit-alien:hover{
    background: #ff4500;
    color: white;
    top: -2px;
}

.fa-youtube-play{
    color: #bb0000;
    border: 2px solid #bb0000;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-youtube-play:hover{
    background: #bb0000;
    color: white;
    top: -2px;
}

.fa-pinterest{
    color: #cb2027;
    border: 2px solid #cb2027;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-pinterest:hover{
    background: #cb2027;
    color: white;
    top: -2px;
}

.fa-instagram{
    color: #125688;
    border: 2px solid #125688;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-instagram:hover{
    background: #125688;
    color: white;
    top: -2px;
}

.fa-tumblr{
    color: #32506d;
    border: 2px solid #32506d;
    border-radius: 50%;
    /*padding: 1em;*/
    position: relative;
    background: transparent;
}

.fa-tumblr:hover{
    background: #32506d;
    color: white;
    top: -2px;
}
