/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*My style*/
ul li{
    float: left;
    list-style: none;
}
.ps-social-nav ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
}

.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}

/* Wrapper */
.ps-icon-button {
    margin: 5px;
    background-color: transparent;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    height:3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    /*margin: 0 5px;*/
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Circle */
.ps-icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.ps-icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}
.twitter span {
    background-color: #00aced;
}
.facebook span {
    background-color: #1565C0;
}
.google span {
    background-color: #d34836;
}
.linkedin span{
    background-color: #0e76a8;
}
.reddit-alien span{
    background-color: #ff4500;
}
.youtube-play span{
    background-color: #bb0000;
}
.pinterest span{
    background-color: #cb2027;
}
.instagram span{
    background-color: #125688;
}
.tumblr span{
    background-color: #32506d;
}

/* Icons */
.ps-icon-button i {
    font-size: 30px;
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}
.ps-icon-button .ps-icon-twitter {
    color: #00aced;
}
.ps-icon-button .ps-icon-facebook {
    color: #1565C0;
}
.ps-icon-button .ps-icon-google {
    color: #d34836;
}
.ps-icon-button .ps-icon-linkedin {
    color: #0e76a8;
}
.ps-icon-button .ps-icon-reddit-alien {
    color: #ff4500;
}
.ps-icon-button .ps-icon-youtube-play {
    color: #bb0000;
}
.ps-icon-button .ps-icon-pinterest {
    color: #cb2027;
}
.ps-icon-button .ps-icon-instagram {
    color: #125688;
}
.ps-icon-button .ps-icon-tumblr {
    color: #32506d;
}

.ps-icon-button:hover .ps-icon-twitter,
.ps-icon-button:hover .ps-icon-facebook,
.ps-icon-button:hover .ps-icon-google,
.ps-icon-button:hover .ps-icon-tumblr,
.ps-icon-button:hover .ps-icon-instagram,
.ps-icon-button:hover .ps-icon-pinterest,
.ps-icon-button:hover .ps-icon-youtube-play,
.ps-icon-button:hover .ps-icon-reddit-alien,
.ps-icon-button:hover .ps-icon-linkedin{
    color: white;
}
