/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*My style*/

.ps-social-nav .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social-nav .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}

.ps-social-nav li {
    width: 11.1%;
    text-align: center;
    border-right: 1px solid #121212;
    float: left;
    background-color:#222222;
}

.ps-social-nav li a{
    display: block;
    color: #909d9f;
    padding: 3px 0;
    font-size: 1.8rem;
}

.ps-social-nav .facebook:hover{
    background-color: #1565C0;
}

.ps-social-nav .twitter:hover{
    background-color: #00aced;
}

.ps-social-nav .linkedin:hover{
    background-color: #0e76a8;
}
.ps-social-nav .google:hover{
    background-color: #d34836;
}
.ps-social-nav .reddit:hover{
    background-color: #ff4500;
}
.ps-social-nav .youtube:hover{
    background-color: #bb0000;
}
.ps-social-nav .pinterest:hover{
    background-color: #cb2027;
}
.ps-social-nav .instagram:hover{
    background-color: #125688;
}
.ps-social-nav .tumbler:hover{
    background-color: #32506d;
}

.ps-social-nav li a:hover{
    transition: all .3s;
    cursor: pointer;
    color: #fff;
}
