/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1.3;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*icon style*/
.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}

ul li{
    float: left;
}
.ps-social i.fa {
    padding-top: 8px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    background-color: #47466f;
    color: #00d8d4;
}

.ps-social i.fa:after {
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    position: relative;
    border-radius: 50%;
    transition: all 0.3s ease;
    text-align: center;
}

.ps-social i.fa:hover {
    background-color: #00afa3;
    transform: rotate(360deg);
    cursor: pointer;
    box-shadow: none;
    color: #FFFFFF;
}

