/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/**Reset**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**customaization start**/
.ps-social{
    font-size: 24px;

}
.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}
.fa {

    /*font-size: 64px;*/
    overflow: hidden;
    /*margin: 0.5em;*/
    position: relative;
    text-decoration: none;
    width: 80px;
    height: 80px;
    /*-webkit-backface-visibility: hidden;*/
}
.fa:hover{
    font-size: 20px;
    padding: 5px;

}
.fa:before, .fa:after {
    left: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 50%;
    width: 100%;
}
.fa:before {
    color: white;
    -webkit-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0);
    z-index: 2;
}
.fa:after {
    padding-bottom: 25%;
    padding-top: 300%;
    top: 0;
}
.fa:hover:after {
    -webkit-transform: translate3D(0, -73%, 0);
    transform: translate3D(0, -73%, 0);
}
.fa:hover:before {
    -webkit-transform: translate3D(0, -250%, 0);
    transform: translate3D(0, -250%, 0);
}

.fa-twitter:after {
    background: -webkit-linear-gradient(#00aced 25%, #ffffff 75%);
    background: linear-gradient(#00aced 25%, #ffffff 75%);
    content: "twitter";
    color: #00aced;
}

.fa-facebook:after {
    background: -webkit-linear-gradient(#1565C0 25%, #ffffff 75%);
    background: linear-gradient(#1565C0 25%, #ffffff 75%);
    content: "facebook";
    color: #1565C0;
}

.fa-pinterest:after {
    background: -webkit-linear-gradient(#cb2027 25%, #ffffff 75%);
    background: linear-gradient(#cb2027 25%, #ffffff 75%);
    content: "pinterest";

    color: #cb2027;
}

.fa-youtube-play:after {
    background: -webkit-linear-gradient(#bb0000 25%, #ffffff 75%);
    background: linear-gradient(#bb0000 25%, #ffffff 75%);
    content: "youtube";
    color: #bb0000;
}
.fa-linkedin:after {
    background: -webkit-linear-gradient(#0e76a8 25%, #ffffff 75%);
    background: linear-gradient(#0e76a8 25%, #ffffff 75%);
    content: "linkedin";
    color: #0e76a8;
}
.fa-google:after {
    background: -webkit-linear-gradient(#bb0000 25%, #ffffff 75%);
    background: linear-gradient(#bb0000 25%, #ffffff 75%);
    content: "google";
    color: #b00;
}
.fa-reddit-alien:after {
    background: -webkit-linear-gradient(#ff4500 25%, #ffffff 75%);
    background: linear-gradient(#ff4500 25%, #ffffff 75%);
    content: "reddit";
    color: #ff4500;
}
.fa-instagram:after {
    background: -webkit-linear-gradient(#125688 25%, #ffffff 75%);
    background: linear-gradient(#125688 25%, #ffffff 75%);
    content: "instagram";
    color: #125688;
}
.fa-tumblr:after {
    background: -webkit-linear-gradient(#32506d 25%, #ffffff 75%);
    background: linear-gradient(#32506d 25%, #ffffff 75%);
    content: "tumblr";
    color: #32506d;
}


