
.row {
    margin: 12px;
    clear: both;
    padding:0;
}

.ps-social {
    width: 200px;
    height: 220px;
    list-style: none;
    position: fixed;
    top: 40%;
    left: 0;
}
.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}

.ps-social li a {
    display: block;
    height: 40px;
    width: 62px;
    background: #222;
    border-bottom: 1px solid #333;
    font: normal normal normal 16px/20px  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background 0.5s ease 0.3ms;
}

.fa-facebook:hover {
    background: #1565C0;
}

.fa-twitter:hover {
    background: #00aced;
}

.fa-linkedin:hover {
    background: #0e76a8;
}

.fa-google:hover {
    background: #d34836;
}
.fa-reddit-alien:hover {
    background:#ff4500;
}
.fa-youtube-play:hover {
    background:#bb0000;
}
.fa-pinterest:hover {
    background:#cb2027;
}
.fa-instagram:hover {
    background:#125688;
}
.fa-tumblr:hover {
    background:#32506d;
}


.fa-facebook {
    border-radius: 0 5px 0 0;
}

.fa-google {
    border-radius: 0 0 5px 0 0;
}

.ps-social li a span {
    width: 100px;
    float: left;
    text-align: center;
    background: #222;
    color: #fff;
    margin: -25px 70px;
    padding: 6px;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 7px;
    transition: all 0.5s ease 0.3ms;
}

.ps-social li span:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 7px;
    border-left: 10px solid transparent;
    border-right: 10px solid #222;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

.ps-social li a:hover span {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0);
}
