/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*My style*/

.ps-social .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.ps-social .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}
.ps-social ul li{
    list-style: none;
}


.ps-social-nav li a{
    padding: 10px;
    display: block;
    width: 65px;
    height: 65px;
    line-height: 44px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    color: #fff ;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.ps-social-nav li a:hover{
    opacity: .85;
    transform:translate(0,-4px);
}

.ps-social-nav li a:hover i{
    /*opacity: .85;*/
    transform:translate(1.5px,0);
}

.ps-social-nav .facebook{
    background: #1565C0;

}

.ps-social-nav .twitter{
    background: #00aced;
}

.ps-social-nav .instagram{
    background: #125688;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

.ps-social-nav .linkedin{
    background: #0e76a8;

}
.ps-social-nav .pinterest{
    background: #cb2027;

}
.ps-social-nav .google{
    background: #d34836;

}
.ps-social-nav .youtube-play{
    background: #bb0000;

}
.ps-social-nav .pinterest{
     background: #cb2027;

 }
.ps-social-nav .tumblr{
    background: #32506d;

}
.ps-social-nav .reddit-alien{
    background: #ff4500;

}