/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*sequence of css classes
01 - Home Expanded Navigation
02 - Home Alternate
03 - About
04 - Therapies
05 - Classes
06 - Contact
07 - Shop Home Left Sidebar
08 - Shop Home Left Sidebar Alternate
09 - Shop Home Right Sidebar
10 - Shop Home Right Sidebar Alternate
11 - Shop Home No Sidebar
12 - Shop Home No Sidebar Alternate
13 - Shop Product Page
14 - Shop Product Page Alternate
end-sequence of css classes*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*Body*/
/*----- Genral Classes start ------*/
ul li{

    list-style-type: none;
}
.list-inline li {
    display: inline-block;
    padding: 0;
    margin-right: 5px;
}


/*---- Genral classes end -------*/

/*Change icons circle size and color here*/
.social-icons  .ps-no-style{
    text-decoration: none;
    box-shadow: none;
}
.social-icons  .ps-no-style:hover{
    text-decoration: none;
    box-shadow: none;
}
.social-icons .fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
    border-radius: 50%;
}
.social-icons.icon-rounded .fa{
    border-radius:5px;
}
.social-icons.icon-flat .fa{
    border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.social-icons .fa-facebook{background-color:#1565C0;}
.social-icons .fa-twitter{background-color:#00aced;}
.social-icons .fa-linkedin{background-color:#0e76a8;}
.social-icons .fa-google{background-color:#d34836;}
.social-icons .fa-reddit-alien{background-color:#ff4500;}
.social-icons .fa-youtube-play{background-color:#bb0000;}
.social-icons .fa-pinterest{background-color:#cb2027;}
.social-icons .fa-instagram{background-color:#125688;}
.social-icons .fa-tumblr{background-color:#32506d;}

